
#top-bar {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #dedede;
}
#bottom-bar {
    border-top: 2px solid #dedede;
}
#navRight:hover {
    color: rgb(218,137,71);
}
#navRight {
    /* margin: 10px; */
}
li {
    /* float: right; */
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover:not(.active) {
    /* background-color: #111; */
    text-decoration: none;
}
.me {
    /* padding: 45px;
    text-align: center;
    color: black; */
}
.my-img{
    /* max-width: 150px; */
    /* max-height: 250px;
    margin: 0px 140px; */
}
#home{
    background: url("img/sanjose.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* padding: 230px 0;  */
    color: white;
    margin: 0px;
    /* height: 550px;    */
    padding: 165px 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}
#krysia {
    margin-top: 110px;
}
#loading {
    /* color: rgb(98, 98, 98) */
    color:black
}
.black {
    color: black;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    text-align: center;
}
#about-me {
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 23px;
}
.aboutMeContent{
    color: rgb(123,123,123);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 31px;
    text-align: justify;
}
.subtitle {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 50px;
    font-weight: 300;    
}
.projects{
    /* background-color: rgb(255, 157, 126); */
    background: rgb(205,205,205);
    /* box-shadow: 3px 0px 17px 4px #ffffff inset, 5px 0px 30px -9px #000000 inset; */
    padding: 23px;
    /* height: 700px; */
}
.btn {
    /* background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; */
}
.qqq {
    /* color: rgb(160, 153, 143) */
}
figcaption {
    padding: 3px;
    height: 106px
    /* background-color: rgb(216,216,216) */
}
.fig-h4 {
    margin-top: 6px;
}
.skills {
    background-color: white;
    padding: 13px;
    border-bottom: 2px solid #dedede;
}
.pro{
    width: 300px;
    height: 260px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

}

.pro:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.fa-linkedin {
    color: #007bb5;
}
.fa-github {
color: #2c4762;
}
.fa-stack-overflow{
color: #e68a00;
}
.fa-codepen{
color: black;
}
#footer {
    height: 80px;
}
#footer .social {
    /* text-align: right; */
    padding: 18px;
}
#footer .name {
    /* font-size: 20px;
    margin-bottom: 0;
    /* margin-top: 10px; */
    /* box-sizing: border-box;
    padding: 30px;
    font-weight: 300 */
}
img{
    width: 70px;
    height: 70px;
    margin: 5px 5px
}
.mybox {
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}
/* ===================================== */
.nav{
    /* background-color: rgb(39, 62, 80);
    color: wheat;
    text-align: right;
    margin: 0px;
    height: 80px; */
    /* padding: 20px 0; */
}

/* .img-wrapper{
    position: relative;
    overflow: hidden;
} */

/* .image{
    display: block;
    max-width: 100%;
    height: 140px;
} */

.row1{
    text-align: center;
}
.project-images {
    width: 300px;
    height: 154px;
    /* background-image: url("tipster.png"); */
    background-size: cover;
}

.title{
    text-align: center;
    color: rgb(45,84,0);
}

.right {
    display: inline-block;
    margin: 10px;
}

.mail {
    color: black;
}

#small {
    font-size: 11px;
}
/* 
#navRight {
    margin: 0px;
} */